:root {
  --pxw-font-size: 16px;
  --pxw-margin: 12px;

  --global-bg: #444;
  --pxw-text: #eee;
  --pxw-border: #000;
  --pxw-sq-empty: #666;
  --pxw-sq-empty-hover: #777;
  --pxw-sq-filled: #333;
  --pxw-sq-filled-hover: #444;
}

/* ------- Global ------- */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--global-bg);
  color: var(--pxw-text);
  font-size: var(--pxw-font-size);
}
h1, h2, h3, ul, p {
  margin-left: var(--pxw-margin);
}

a {
  color: #fd3;
  text-decoration: none;
}
a.extern {
  color: #f80;
}
a:hover {
  text-decoration: underline;
}

#puzzle-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  max-width: 100%;
}
#puzzle-list li {
  margin-left: 22px;
}

#picross-wasm-player {
  margin: 12px;
}

/* ------- Picross specific ------- */
.pxw-ul {
  margin: 0 var(--pxw-margin);
  padding: 0;
  width: max-content;
  list-style-type: none;
}
.pxw-ul li {
  height: 30px;
  display: flex;
  justify-content: flex-end;
}
.pxw-ul li:first-child {
  height: 105px;
}
.pxw-el {
  display: flex;
  width: 30px;
  height: 100%;
  background-color: var(--pxw-sq-empty);
  border-top: 1px solid var(--pxw-border);
  border-right: none;
  border-left: 1px solid var(--pxw-border);
  border-bottom: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.pxw-row {
  width: 135px;
  padding-right: 6px;
  justify-content: flex-end;
}
.pxw-col {
  padding-bottom: 3px;
  align-items: flex-end;
}

.pxw-square.filled {
  background-color: var(--pxw-sq-filled);
}
.pxw-square.empty::after {
  color: var(--pxw-text);
  content: "-";
}
.pxw-square:hover {
  cursor: pointer;
  background-color: var(--pxw-sq-empty-hover);
}
.pxw-square.filled:hover {
  background-color: var(--pxw-sq-filled-hover);
}

.pxw-ul li:first-child .pxw-el, .pxw-ul li:nth-child(5n+2) .pxw-el {
  border-top: 2px solid var(--pxw-border);
}
.pxw-ul li:last-child .pxw-el {
  border-bottom: 2px solid var(--pxw-border);
}
.pxw-ul li .pxw-el:first-child, .pxw-ul li .pxw-el:nth-child(5n+2) {
  border-left: 2px solid var(--pxw-border);
}
.pxw-ul li .pxw-el:last-child {
  border-right: 2px solid var(--pxw-border);
}